.header{
    height: 90px;
    width: 100%;
    background-image: url("../img/bg.png");
    position: fixed;
    z-index: 5;
}
.header-head{
    display: inline-block;
    margin: 0 0 0 30px;text-align: left;font-size: 50px;font-weight: 500;color: #0f88eb;line-height: 90px;
}
.welcome{
    float: right;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    height: 90px;
    margin-right: 30px;
    line-height: 90px;
}
.welcome span{display: block;
    float: left;}
.img{
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 35px;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 10px;
}
img{
    width: 100%;
    height: 100%;
}
.main ul li a{
    color: black;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white;
}
li{list-style: none;margin-bottom: 2px;}
ul{
    margin: 0;padding: 0;
}
.main{
    box-sizing: border-box;
    width: 300px;
    background: #eee;
    position: fixed;
    height: 90%;
    top: 90px;
    display: block;
    padding: 3px;
    z-index: 5;
}
.out{
    position: absolute;
    left: 200px;
    bottom: 15px;
    font-weight: 600;
    z-index: 7;
    color: #555555;
    cursor: pointer;
}
.right{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 90px;
    padding-left: 300px;
    background: #f7fafc;
    overflow-x: hidden;
    box-sizing: border-box;
}
i{
    width: 20px;
    height: 20px;
    padding-right: 3px;
}
.main ul li .router-link-active{
    background: #0f88eb;
    color: white;
}
