.form label{
    text-align: left;
    padding-left: 347px;
    display: block;
    font-size: 15px;
}
label input{
    width: 300px;
    height: 47px;
    line-height: 47px;
    padding: 10px 8px 10px 8px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
}
button{
    width: 300px;
    height: 41px;
    line-height: 41px;
    background-color: #0f88eb;
    cursor: pointer;
    margin-top: 18px;
    border: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
}
.warn{
    font-size: 13px;
    color: crimson;
    margin-left: 20px;
}
